/*
h1 IS FIXED
P IS FIXED

*/
/* 
-----------DO NOT GET CONFUSED THIS GUY DID EVERYTHING INTENDED FOR MOBILE FIRST AND BUILD UP TO DESKTOPS---------

Media Query explanations!!!!!!!!!!!! 
Min-Width;
What this query really means, is “If [device width] is greater than or equal to 600px, then do {…}”

So if the email is opened on an iPhone 5S, with a screen width of 320px, the media query will not trigger and the styles contained in { … } will not take effect.



Max-Width
Here is an example of a max-width query.

@media only screen and (max-width: 600px)  {...}
What this query really means, is “If [device width] is less than or equal to 600px, then do {…}”

So if the email is opened on an iPhone 5S, with a screen width of 320px, the media query will trigger and all of the styles contained in { … } will take effect.

code hints */

html {
    background: #252525;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    padding: 20px 0;
}

body {
    background: #252525;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.band {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;

}

@media screen and (min-width: 500px) {
    .band {
        grid-template-columns: 1fr 1fr;
    }

    .item-1 {
        grid-column: 1/ span 2;

    }



    .item-1 h1 {}
}

@media only screen and (min-width: 850px) {
    .band {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .item-4 {
        grid-row: 2/ span 4;
    }

    .item-5 {
        grid-row: 2/ span 4;
    }

    .item-6 {
        grid-row: 2/ span 4;
    }

    .item-7 {
        grid-row: 2/ span 4;
    }
}

/* card */

.card {
    min-height: 100%;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #444;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
    background-color: #121212;
      border-color:green;
      border-top-left-radius: 0.4em;
      border-style: ridge;
      border-top-right-radius: 0.4em;
      border-left-width: 1.45px;
      border-bottom-width: 1.65px;
      border-right-width: 2.25px;
      border-top-width: 1.95px;
}

.card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.card article {
    padding: 20px;
    display: flex;
    border-color: rgb(25, 0, 248);
   
    border-style: ridge;
    border-top: none;
    border-left-width: 1.45px;
    border-bottom-width: 1.65px;
    border-right-width: 2.25px;
  
    flex: 1;
    justify-content: space-between;
    flex-direction: column;

}

.card .thumb {
    padding-bottom: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%, cover;
    position: relative;
    border-color:red;
    border-bottom: none;
    border-top-left-radius: 0.4em;
    border-style: ridge;
    border-top-right-radius: 0.4em;
    border-left-width: 1.45px;
    border-bottom-width: 1.65px;
    border-right-width: 2.25px;
    border-top-width: 1.95px;
}

.card p {
    flex: 1;
    /* make p grow to fill available space*/
    line-height: 1.4;
    flex: 1;
    /* make p grow to fill available space*/
    font-size: 0.92em;
    /* font-size: 2.4vh;*/
    font-weight: 21;
    line-height: 1.1em;
    white-space: normal;

    /* font-size: 2.4vh;*/
    margin-block-start: .83em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    word-break: break-all;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    word-break: normal;
    max-width: 100%;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: white;


}

/* typography */
h1 {
    font-size: 20px;
    margin: 0;
    color: white;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

}

.card span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;

    
}
